@charset 'UTF-8';

:root{
    --cor0: #586F8C;
    --cor1: #495B73;
    --cor2: #262625;
    --cor3: #A6A6A6;
    --cor4: #F2F2F2;
}

body{
    margin: 0px;
}

header{
    background-color: var(--cor1);
    height: 87px;
        
}
header > h1{
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
header > div{
    padding: 0px 0px 10px 0px var(--cor1);
    margin: 25px 0px 25px 0px;
    border-radius: 3px;
    width: 690px;
    height: 35px;
    display: inline-block;
    background-color: white;
}
header > div > p#pesquisa{
    display: inline-block;
    color: rgba(0, 0, 0, 0.315);
    margin: 0px 0px 0px -538px;
    padding: 0px 0px 0px 550px;
}
header > div > p#lupa{
    display: inline-block;
    color: rgba(0, 0, 0, 0.315);
    margin: 2px;
    padding: 5px 0px 5px 550px;
}

nav{
    background-color: var(--cor0);
    padding: 5px;
    margin: 2px 0px 2px 0px var(--cor0);
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
nav > a:hover{
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 5px;
    border-radius: 3px;
    transition-duration: .5s;
}

main{
    margin: 50px 20px;
}
div.esq > article{
    margin: 3px;
}
div.dir > article{
    margin: 3px;
}
main > div.dir{
    width: 583px;
    height: 749px;
    display: inline-block;
} 
main > div.esq{
    width: 583px;
    height: 749px;
    display: inline-block;
}
main > div.esq > article#noticia1{
    background-color: var(--cor3);
    width: 100%;
    height: 408px;

}
img#meta{
    display: inline-block;
}
main > div > article#noticia1:hover {
    width: 586px;
    height: 411px;
    margin: 0px 1px 3px 1px;
    transition-duration: .5s;
}
main > div.esq > article#noticia2{
    background-color: var(--cor3);
    width: 100%;
    height: 338px;
}
main > div > article#noticia2:hover {
    width: 587px;
    height: 340px;
    margin: 1px 1px 0px 0px;
    transition-duration: .5s;
}
main > div.dir > article#noticia3{
    background-color: var(--cor3);
    width: 675px;
    height: 749px;

}
main > div > article#noticia3:hover {
    width: 677px;
    height: 754px;
    margin: 0px 0px 0px 2px;
    transition-duration: .5s;
}

footer{
    background-color: var(--cor2);
    height: 25px;
}